{% include './layouts/header.html' %}


<!-- Header -->
<header class="header">
  <div class="container">
    <h1 class="header__title"><a class="header__logo" href="/" accesskey="1">Notes Keeper</a></h1>
    <p class="header__subtitle">Matin Andrey's blogging, home paging, etc.</p>
  </div>
</header>



<!-- Navigation -->
<nav class="nav">
  <div class="container">

    <!-- Main Menu -->
    <ul class="menu">
      <li class="menu__item">
        <a href="/about" class="menu__link">About</a>
      </li>
      <li class="menu__item">
        <a href="/posts" class="menu__link">Posts</a>
      </li>
      <li class="menu__item">
        <a href="/tags" class="menu__link">Tags</a>
      </li>
    </ul>

  </div>
</nav>



<main id="main">

  <!-- Posts List -->
  <section class="section">
    <div class="container">

      <header class="section__header">
        <h2 class="section__title">Posts</h2>
      </header>

      <!-- Post Card -->
      <div class="post-card">
        <div class="post-card__date">19-10</div>
        <div class="post-card__content">
          <a class="post-card__title post-link" href="/scss-reset">SCSS Reset</a>
        </div>
      </div>

      <!-- Post Card -->
      <div class="post-card">
        <div class="post-card__date">19-09</div>
        <div class="post-card__content">
          <a class="post-card__title post-link" href="/block-coutries-js">Block guests by countries via JavaScript without API requests</a>
        </div>
      </div>

      <!-- Post Card -->
      <div class="post-card">
        <div class="post-card__date">19-09</div>
        <div class="post-card__content">
          <a class="post-card__title post-link" href="/crawlers-detector">How to avoid Search Crawler via JavaScript</a>
        </div>
      </div>

      <!-- Post Card -->
      <div class="post-card">
        <div class="post-card__date">19-09</div>
        <div class="post-card__content">
          <a class="post-card__title post-link" href="/get-all-text-nodes">How to get all text nodes except empty via JavaScript</a>
        </div>
      </div>

      <!-- Post Card -->
      <div class="post-card">
        <div class="post-card__date">19-08</div>
        <div class="post-card__content">
          <a class="post-card__title post-link" href="/pwa-short-notes">PWA development: short notes</a>
        </div>
      </div>

      <!-- Post Card -->
      <div class="post-card">
        <div class="post-card__date">19-08</div>
        <div class="post-card__content">
          <a class="post-card__title post-link" href="/pwa-short-notes">PWA development: short notes</a>
        </div>
      </div>

      <!-- Post Card -->
      <div class="post-card">
        <div class="post-card__date">19-04</div>
        <div class="post-card__content">
          <a class="post-card__title post-link" href="/custom-consloe-log">Custom console.log()</a>
        </div>
      </div>

    </div>
  </section>

</main>

{% include './layouts/footer.html' %}
