/*
 * Navigation
 * ========================================================================== */

.nav {
  padding-bottom: 30px;
}

.menu {
  display: flex;
}

.menu__item {
  border: 1px solid #324787;
  display: inline-block;
  margin-right: 3px;
}

.menu__link {
  color: #324787;
  text-decoration: none;
  font-size: 1.8rem;

  display: inline-block;
  padding: 1rem 1.5rem;

  @include hover {
    color: #fff;
    background: #324787;
    text-decoration: none;
  }

  &.active {
    color: #fff;
    background: #324787;
    text-decoration: none;
  }
}
