/*
 * Variables
 * ========================================================================== */


/**
 * Fonts
 */

$font-stack: ('Work Sans', Arial, Helvetica, sans-serif);
$font-stack-title: ('Calistoga', Arial, Helvetica, sans-serif);

$body-font: $font-stack;
$header-font: $font-stack-title;

$basic-font-size: 62.5%;


/**
 * Palette
 */

$black: #333;
$blue: #324787;


/**
 * Colors
 */

$text-color: #333;
