<!-- Footer -->
<footer class="footer">
  <div class="container">

    <div class="footer__content">

      <p>201x - 2021 &copy; Andrey Matin</p>

      <!-- Social Navigation -->
      <nav class="nav-social">
        <ul class="social-menu">
          <li class="social-menu__item">
            <a href="./index.html" class="social-menu__link" target="_blank" title="Social Link" rel="noopener"></a>
          </li>
        </ul>
      </nav>

    </div>

  </div>
</footer>


<!-- Vendor Scripts -->


<!-- Custom Scripts -->
<script src="./javascript/app.js"></script>

</body>

</html>
